name: Lint and Type Check

on: 
  workflow_call:
    inputs:
      py:
        type: string
        default: '3.10'

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  lint-and-type-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.py }}

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 'latest'

      - name: Setup a local virtual environment
        run: |
          poetry config virtualenvs.create true --local
          poetry config virtualenvs.in-project true --local

      - name: Install the project dependencies
        run: poetry install --with dev,audio,vision

      - name: Run mypy
        run: |
          poetry run mypy --install-types --non-interactive .
        continue-on-error: false

      - name: Run flake8
        run: |
          poetry run flake8 .
        continue-on-error: false

      - name: Run black
        run: |
          poetry run black --check .
        continue-on-error: false

      - name: Run isort
        run: |
          poetry run isort . --check-only
        continue-on-error: false
